body {
	background-color:#29206f;
}

h1 {
	font-family:'Poppins',sans-serif;
	font-size: 40px;
	font-weight:600;
	color:#dcdce3;
}
h2 {
	font-family:'Poppins',sans-serif;
	font-size:25px;
	font-weight:500;
	color:#dcdce3;
}
h3 {
	font-family:'Poppins',sans-serif;
	font-size:25px;
	font-weight:400;
	color:#dcdce3;
}
ul {
	font-family:'Poppins',sans-serif;
	font-size:18px;
	font-weight:400;
	color:#dcdce3;
}
p {
	font-family:'Poppins',sans-serif;
	font-size:18px;
	font-weight:300;
	color:#dcdce3;
}